%form.well.form-horizontal
  .control-group
    %label.control-label{for: "plain-text"} Plain text
    .controls
      %input#plain-text.input-xlarge{type: "text", placeholder: "Type some text"}
  .control-group
    %label.control-label{for: "enrypted-text"} Encrypted text
    .controls
      %input#encrypted-text.input-xlarge{type: "text", disabled: true}
