%form
  %label{for: "plain-text"} Plain text
  %input#plain-text.input-xlarge{type: "text", placeholder: "Type some text"}
  %label{for: "enrypted-text"} Encrypted text
  %input#encrypted-text.input-xlarge{type: "text", disabled: true}
